<div id="vmaig-links">
    <div class="panel panel-vmaig">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-link"></span>
                    友情链接 
                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right"  data-toggle="collapse" data-target="#links"></span>
            </h3>
        </div>
        <div id="links" class="padding10 list-group collapse in">
            <a title="dp" target="_blank" href="http://dianping.com" class="btn btn-vmaig btn-xs margin2">大众点评</a>
            <a title="ap" target="_blank" href="http://spark.apache.org" class="btn btn-success btn-xs margin2">Spark</a>
            <a title="cs" target="_blank" href="http://coolshell.cn" class="btn btn-info btn-xs margin2">酷壳</a>
            <a title="so" target="_blank" href="http://stackoverflow.com/questions/tagged/machine-learning" class="btn btn-info btn-xs margin2">stackoverflow</a>
        </div>
    </div>
</div>
